<h3 class="header">Data</h3>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="data_table" data_set_id="<%= data_set.id %>">
  <thead>
    <tr>
      <% data_set.columns.each do |c| %>
        <th><%= c %></th>
      <% end %>

      <% if data_set.categorical? %>
        <th>Category</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% data_set.data.each do |row| %>
      <tr>
        <% row.each do |cell| %>
          <td><%= cell %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
