<script>
  $(function() {
    $("#data_set_problem_type").change(function() {
      if ($(this).val() == "categorical") {
        $("#data_set_categories").show();
      } else {
        $("#data_set_categories").hide();
      }
    });
  });
</script>

<div>
  <label><b>Name</b></label>
  <%= f.text_field :name, :style => "width: 750px;" %>
</div>

<div>
  <label><b>Problem Type</b></label>
  <%= f.select :problem_type, DataSet::PROBLEM_TYPES.map {|i| [i.humanize, i] } %>
</div>

<div>
  <label><b>Column Names</b></label>
  <%= f.text_area :column_names, :style => "width: 750px; height: 20px;"  %>
</div>

<div id="data_set_categories" style="<%= 'display: none' unless @data_set.categorical? %>">
  <label><b>Categories</b></label>
  <%= f.text_area :categories,   :style => "width: 750px; height: 20px;"  %>
</div>

<div>
  <label><b>Data</b></label>
  <%= f.text_area :data, :style => "width: 750px; height: 200px; clear: both;" %>
</div>

<% if false %>
  <div>
    or
  </div>

  <div>
    <b>Upload (CSV):</b>
    <%= f.file_field :csv_file %>
  </div>
<% end %>
