<h3 class="header">Multichart</h3>

<div id="multichart">
  <% data_set.column_range.each do |r| %>
    <div>
      <% data_set.column_range.each do |c| %>
        <div id="chart_<%= r %>_<%= c %>" class="data_box">
          <% if r == c %>
            <div class="inside">
              <%= data_set.columns[r] %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div style="clear: both;">&nbsp;</div>
    </div>
  <% end %>
</div>
