<h2>Edit DataSet</h2>

<div style="margin-top: 25px;">
  <%= form_for @data_set do |f| %>
    <%= render :partial => "data_sets/form", :locals => {:f => f} %>
    <button type="submit" class="btn">Update</button>
  <% end %>
</div>
