<div style="margin-bottom: 20px; clear: both;">
  <h2 style="float: left;">DataSets</h2>

  <div style="float: right;">
    <%= link_to "New DataSet", new_data_set_path, :class => "btn" %>
  </div>
</div>

<div>&nbsp;</div>

<table style="width: 100%; margin-top: 20px; clear: both;">
  <tr>
    <th>Name</th>
    <th>Problem Type</th>
    <th># of Columns</th>
    <th># of Examples</th>
    <th></th>
  </tr>
  <% @data_sets.each do |data_set| %>
    <tr>
      <td><%= link_to data_set.name, data_set_path(data_set) %></td>
      <td style="text-align: center;"><%= data_set.problem_type %></td>
      <td style="text-align: center;"><%= data_set.columns.size %></td>
      <td style="text-align: center;"><%= data_set.size %></td>
      <td style="text-align: center;">
        <%= link_to "Edit",   edit_data_set_path(data_set) %> -
        <%= link_to "Delete", data_set_path(data_set), :method => :delete, :confirm => "Are you sure?" %>
      </td>
    </tr>
  <% end %>
</table>

