<h2><%= @data_set.name %></h2>

<% if @data_set.columns.size > 2 %>
  <%= render :partial => "data_sets/multichart", :locals => {:data_set => @data_set} %>
<% elsif @data_set.columns.size == 2 %>
  <%= render :partial => "data_sets/chart", :locals => {:data_set => @data_set} %>
<% end %>

<h3 class="header">Algorithms</h3>

<div id="algorithms">
  <% if @data_set.regression? %>
    <%= link_to "Linear Regression", linear_regression_path(@data_set) %>
  <% elsif @data_set.categorical? %>
    <%= link_to "Logistic Regression", logistic_regression_path(@data_set) %>
  <% end %>
</div>

<%= render :partial => "data_sets/data", :locals => {:data_set => @data_set}  %>

