// Place all the styles related to the DataSets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.data_box {
  float: left;
  width: 150px;
  height: 150px;
  margin: 3px;
}

.data_box .inside {
  border: 2px solid #555;
  background-color: white;
  height: 123px;
  line-height: 123px;
  text-align: center;
  width: 127px;
  float: right;
  font-weight: bold;
}

.header {
  margin: 10px;
  margin-left: 0px;
}