<!DOCTYPE html>
<html>
  <head>
    <title>DataRb</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div style="border-bottom: 1px solid black;">
      <%= link_to "DataSets", data_sets_path %>
    </div>
    <%= yield %>
  </body>
</html>
